:root {
    --main: #FAFAFA;
    --secondary: #E3F2FD;
    --auxiliar: #DB5461
  }
body {
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.main-content{}