:root {
    --main: #FAFAFA;
    --secondary: rgba(64, 168, 242, 0.35);
    --auxiliar: #DB5461;
    --test: rgba(219, 84, 97, 0.3)
  }
body {
    background-color: var(--main);
    display: flex;
    justify-content: center;
    width: 100%;
}
.main-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    max-width: 1440px;
}
h1{
    text-align: center;
}
.box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
    height: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
/* GLASS EFFECT */
.glass{
    background: inherit;
    width: 100%;
    height: 100%;
}
.glass:before {
    content: '';
    width: 100%;
    height: 100%;
    background: inherit; 
    position: absolute;
    left: 0;  
    right: 0;
    top: 0;
    bottom: 0;
    box-shadow: inset 0 0 0 200px rgba(255,255,255,0.3);
    filter: blur(90px);
    border-radius: 5px;
}