:root {
    --main: #F5F5F5;
    --secondary: rgba(227, 242, 253, 0.5);
    --auxiliar: #DB5461
  }
body {
    background-color: var(--main);
    display: flex;
    justify-content: center;
    width: 100%;
}
.main-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    max-width: 1440px;
}
h1{
    text-align: center;
}
.box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
    border: 1px solid red;
    background-color: var(--secondary);  
    backdrop-filter: blur(5px);
}
/* GLASS EFFECT */
